<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.bill.BillPurchaseMapper">
	<resultMap id="BillPurchase" type="com.techsoft.entity.common.BillPurchase" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="BILL_CODE" property="billCode" />
		<result column="BILL_STATUS_DICT_ID" property="billStatusDictId" />
		<result column="AUDIT_STATUS_DICT_ID" property="auditStatusDictId" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="WORKORDER_PURCHASE" property="workorderPurchase" />
		<result column="DATE_ARRIVAL" property="dateArrival" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="billCode != null">
			AND A.BILL_CODE like "%"#{billCode}"%"
		</if>
		<if test="billStatusDictId != null">
			AND A.BILL_STATUS_DICT_ID= #{billStatusDictId}
		</if>
		<if test="auditStatusDictId != null">
			AND A.AUDIT_STATUS_DICT_ID= #{auditStatusDictId}
		</if>
		<if test="supplierId != null">
			AND A.SUPPLIER_ID= #{supplierId}
		</if>
		<if test="workorderPurchase != null">
			AND A.WORKORDER_PURCHASE= #{workorderPurchase}
		</if>
		<if test="dateArrival != null">
			AND A.DATE_ARRIVAL= #{dateArrival}
		</if>
		<if test="remark != null">
			AND A.REMARK= #{remark}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	  <if test="billCodeLike != null">
	    <bind name="codeLike" value="'%' + _parameter.billCodeLike + '%'" />
	       AND A.BILL_CODE LIKE #{codeLike}
	  </if>
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
		
	<sql id="Order_By_Sql">
 		order by id desc
	</sql>		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.BILL_CODE,
		A.BILL_STATUS_DICT_ID,
		A.AUDIT_STATUS_DICT_ID,
		A.SUPPLIER_ID,
		A.WORKORDER_PURCHASE,
		A.DATE_ARRIVAL,
		A.REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for MYCATSEQ_BILL_PURCHASE_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from BILL_PURCHASE
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.BillPurchase">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_PURCHASE A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.BillPurchase">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_PURCHASE A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE BILL_PURCHASE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE BILL_PURCHASE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.BillPurchase">
		UPDATE BILL_PURCHASE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillPurchase">
		INSERT INTO BILL_PURCHASE (
		TENANT_ID,
		BILL_CODE,
		BILL_STATUS_DICT_ID,
		AUDIT_STATUS_DICT_ID,
		SUPPLIER_ID,
		WORKORDER_PURCHASE,
		DATE_ARRIVAL,
		REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{billCode},
		#{billStatusDictId},
		#{auditStatusDictId},
		#{supplierId},
		#{workorderPurchase},
		#{dateArrival},
		#{remark}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillPurchase">
		UPDATE BILL_PURCHASE SET
		TENANT_ID=#{tenantId},
		BILL_CODE=#{billCode},
		BILL_STATUS_DICT_ID=#{billStatusDictId},
		AUDIT_STATUS_DICT_ID=#{auditStatusDictId},
		SUPPLIER_ID=#{supplierId},
		WORKORDER_PURCHASE=#{workorderPurchase},
		DATE_ARRIVAL=#{dateArrival},
		REMARK=#{remark},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillPurchase">
		UPDATE BILL_PURCHASE SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="billCode != null" >
			BILL_CODE=#{billCode},
		</if>
		<if test="billStatusDictId != null" >
			BILL_STATUS_DICT_ID=#{billStatusDictId},
		</if>
		<if test="auditStatusDictId != null" >
			AUDIT_STATUS_DICT_ID=#{auditStatusDictId},
		</if>
		<if test="supplierId != null" >
			SUPPLIER_ID=#{supplierId},
		</if>
		<if test="workorderPurchase != null" >
			WORKORDER_PURCHASE=#{workorderPurchase},
		</if>
		<if test="dateArrival != null" >
			DATE_ARRIVAL=#{dateArrival},
		</if>
		<if test="remark != null" >
			REMARK=#{remark},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.bill.BillPurchaseParamVo"
		      resultType="com.techsoft.entity.common.BillPurchase" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_PURCHASE A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
</mapper>