<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.bill.BillWarehouseMapper">
	<resultMap id="BillWarehouse" type="com.techsoft.entity.common.BillWarehouse" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="FACTORY_ID" property="factoryId" />
		<result column="TYPE_STOCK" property="typeStock" />
		<result column="BILL_TYPE_DICT_ID" property="billTypeDictId" />
		<result column="BILL_CODE" property="billCode" />
		<result column="BILL_STATUS_DICT_ID" property="billStatusDictId" />
		<result column="AUDIT_STATUS_DICT_ID" property="auditStatusDictId" />
		<result column="FROM_BILL_TYPE_DICT_ID" property="fromBillTypeDictId" />
		<result column="FROM_BILL_ID" property="fromBillId" />
		<result column="FROM_BILL_CODE" property="fromBillCode" />
		<result column="FROM_WAREHOUSE_ID" property="fromWarehouseId" />
		<result column="TO_WAREHOUSE_ID" property="toWarehouseId" />
		<result column="FROM_PRODUCTIONLINE_ID" property="fromProductionlineId" />
		<result column="TO_PRODUCTIONLINE_ID" property="toProductionlineId" />
		<result column="DEPARTMENT_ID" property="departmentId" />
		<result column="PARTNER_ID" property="partnerId" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="factoryId != null">
			AND A.FACTORY_ID= #{factoryId}
		</if>
		<if test="typeStock != null">
			AND A.TYPE_STOCK= #{typeStock}
		</if>
		<if test="billTypeDictId != null">
			AND A.BILL_TYPE_DICT_ID= #{billTypeDictId}
		</if>
		<if test="billCode != null">
			AND A.BILL_CODE= #{billCode}
		</if>
		<if test="billStatusDictId != null">
			AND A.BILL_STATUS_DICT_ID= #{billStatusDictId}
		</if>
		<if test="auditStatusDictId != null">
			AND A.AUDIT_STATUS_DICT_ID= #{auditStatusDictId}
		</if>
		<if test="fromBillTypeDictId != null">
			AND A.FROM_BILL_TYPE_DICT_ID= #{fromBillTypeDictId}
		</if>
		<if test="fromBillId != null">
			AND A.FROM_BILL_ID= #{fromBillId}
		</if>
		<if test="fromBillCode != null">
			AND A.FROM_BILL_CODE= #{fromBillCode}
		</if>
		<if test="fromWarehouseId != null">
			AND A.FROM_WAREHOUSE_ID= #{fromWarehouseId}
		</if>
		<if test="toWarehouseId != null">
			AND A.TO_WAREHOUSE_ID= #{toWarehouseId}
		</if>
		<if test="fromProductionlineId != null">
			AND A.FROM_PRODUCTIONLINE_ID= #{fromProductionlineId}
		</if>
		<if test="toProductionlineId != null">
			AND A.TO_PRODUCTIONLINE_ID= #{toProductionlineId}
		</if>
		<if test="departmentId != null">
			AND A.DEPARTMENT_ID= #{departmentId}
		</if>
		<if test="partnerId != null">
			AND A.PARTNER_ID= #{partnerId}
		</if>
		<if test="remark != null">
			AND A.REMARK= #{remark}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	  <if test="billCodeLike != null">
	     <bind name="codeLike" value="'%' + _parameter.billCodeLike + '%'" />
	       AND A.BILL_CODE LIKE #{codeLike}
	  </if>
	</sql>
	
	<sql id="Exp_condition_Sql">
	  <if test="ids != null">
	   AND (A.FROM_BILL_ID IN
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	  </if>
	</sql>
		
	<sql id="Order_By_Sql">
 		order by id desc
	</sql>		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.FACTORY_ID,
		A.TYPE_STOCK,
		A.BILL_TYPE_DICT_ID,
		A.BILL_CODE,
		A.BILL_STATUS_DICT_ID,
		A.AUDIT_STATUS_DICT_ID,
		A.FROM_BILL_TYPE_DICT_ID,
		A.FROM_BILL_ID,
		A.FROM_BILL_CODE,
		A.FROM_WAREHOUSE_ID,
		A.TO_WAREHOUSE_ID,
		A.FROM_PRODUCTIONLINE_ID,
		A.TO_PRODUCTIONLINE_ID,
		A.DEPARTMENT_ID,
		A.PARTNER_ID,
		A.REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for MYCATSEQ_BILL_WAREHOUSE_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from BILL_WAREHOUSE
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.BillWarehouse">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_WAREHOUSE A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.BillWarehouse">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_WAREHOUSE A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE BILL_WAREHOUSE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE BILL_WAREHOUSE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.BillWarehouse">
		UPDATE BILL_WAREHOUSE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillWarehouse">
		INSERT INTO BILL_WAREHOUSE (
		TENANT_ID,
		FACTORY_ID,
		TYPE_STOCK,
		BILL_TYPE_DICT_ID,
		BILL_CODE,
		BILL_STATUS_DICT_ID,
		AUDIT_STATUS_DICT_ID,
		FROM_BILL_TYPE_DICT_ID,
		FROM_BILL_ID,
		FROM_BILL_CODE,
		FROM_WAREHOUSE_ID,
		TO_WAREHOUSE_ID,
		FROM_PRODUCTIONLINE_ID,
		TO_PRODUCTIONLINE_ID,
		DEPARTMENT_ID,
		PARTNER_ID,
		REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{factoryId},
		#{typeStock},
		#{billTypeDictId},
		#{billCode},
		#{billStatusDictId},
		#{auditStatusDictId},
		#{fromBillTypeDictId},
		#{fromBillId},
		#{fromBillCode},
		#{fromWarehouseId},
		#{toWarehouseId},
		#{fromProductionlineId},
		#{toProductionlineId},
		#{departmentId},
		#{partnerId},
		#{remark}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillWarehouse">
		UPDATE BILL_WAREHOUSE SET
		TENANT_ID=#{tenantId},
		FACTORY_ID=#{factoryId},
		TYPE_STOCK=#{typeStock},
		BILL_TYPE_DICT_ID=#{billTypeDictId},
		BILL_CODE=#{billCode},
		BILL_STATUS_DICT_ID=#{billStatusDictId},
		AUDIT_STATUS_DICT_ID=#{auditStatusDictId},
		FROM_BILL_TYPE_DICT_ID=#{fromBillTypeDictId},
		FROM_BILL_ID=#{fromBillId},
		FROM_BILL_CODE=#{fromBillCode},
		FROM_WAREHOUSE_ID=#{fromWarehouseId},
		TO_WAREHOUSE_ID=#{toWarehouseId},
		FROM_PRODUCTIONLINE_ID=#{fromProductionlineId},
		TO_PRODUCTIONLINE_ID=#{toProductionlineId},
		DEPARTMENT_ID=#{departmentId},
		PARTNER_ID=#{partnerId},
		REMARK=#{remark},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.BillWarehouse">
		UPDATE BILL_WAREHOUSE SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if> 
		<if test="factoryId != null" >
			FACTORY_ID=#{factoryId},
		</if>
		<if test="typeStock != null" >
			TYPE_STOCK=#{typeStock},
		</if>
		<if test="billTypeDictId != null" >
			BILL_TYPE_DICT_ID=#{billTypeDictId},
		</if>
		<if test="billCode != null" >
			BILL_CODE=#{billCode},
		</if>
		<if test="billStatusDictId != null" >
			BILL_STATUS_DICT_ID=#{billStatusDictId},
		</if>
		<if test="auditStatusDictId != null" >
			AUDIT_STATUS_DICT_ID=#{auditStatusDictId},
		</if>
		<if test="fromBillTypeDictId != null" >
			FROM_BILL_TYPE_DICT_ID=#{fromBillTypeDictId},
		</if>
		<if test="fromBillId != null" >
			FROM_BILL_ID=#{fromBillId},
		</if>
		<if test="fromBillCode != null" >
			FROM_BILL_CODE=#{fromBillCode},
		</if>
		<if test="fromWarehouseId != null" >
			FROM_WAREHOUSE_ID=#{fromWarehouseId},
		</if>
		<if test="toWarehouseId != null" >
			TO_WAREHOUSE_ID=#{toWarehouseId},
		</if>
		<if test="fromProductionlineId != null" >
			FROM_PRODUCTIONLINE_ID=#{fromProductionlineId},
		</if>
		<if test="toProductionlineId != null" >
			TO_PRODUCTIONLINE_ID=#{toProductionlineId},
		</if>
		<if test="departmentId != null" >
			DEPARTMENT_ID=#{departmentId},
		</if>
		<if test="partnerId != null" >
			PARTNER_ID=#{partnerId},
		</if>
		<if test="remark != null" >
			REMARK=#{remark},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.bill.BillWarehouseParamVo"
		      resultType="com.techsoft.entity.common.BillWarehouse" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_WAREHOUSE A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
	
	<insert id="insertBatch" flushCache="true" parameterType="java.util.List">
		INSERT INTO BILL_WAREHOUSE (
		TENANT_ID,
		TYPE_STOCK,
		AUDIT_STATUS_DICT_ID,
		BILL_TYPE_DICT_ID,
		BILL_CODE,
		BILL_STATUS_DICT_ID,
		FROM_BILL_TYPE_DICT_ID,
		FROM_BILL_ID,
		FROM_WAREHOUSE_ID,
		TO_WAREHOUSE_ID,
		FROM_PRODUCTIONLINE_ID,
		TO_PRODUCTIONLINE_ID,
		DEPARTMENT_ID,
		PARTNER_ID,
		REMARK,ID,VERSION,DEL_FLAG,CREATE_USER_ID,MODIFY_USER_ID
		,CREATE_TIME
		,MODIFY_TIME
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(	
		#{item.tenantId},
		#{item.typeStock},
		#{item.auditStatusDictId},
		#{item.billTypeDictId},
		#{item.billCode},
		#{item.billStatusDictId},
		#{item.fromBillTypeDictId},
		#{item.fromBillId},
		#{item.fromWarehouseId},
		#{item.toWarehouseId},
		#{item.fromProductionlineId},
		#{item.toProductionlineId},
		#{item.departmentId},
		#{item.partnerId},
		#{item.remark},
		#{item.id},1,0,#{item.createUserId},#{item.modifyUserId} 
		,now()
		,now()
		)
		</foreach>
	</insert>
	
	<select id="selectPrepareMaterialsScreen" parameterType="com.techsoft.entity.bill.BillWarehouseParamVo"
		      resultType="com.techsoft.entity.common.BillWarehouse" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM BILL_WAREHOUSE A
		WHERE A.BILL_TYPE_DICT_ID = 10263
		AND A.BILL_STATUS_DICT_ID != 10490
	</select>
</mapper>