<!DOCTYPE html>
<html>
  
  <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
	<style>
		.layui-unselect{
			height:1px;
		}
	
	</style>
  </head>
  
  <body>
    <div class="layui-fluid">
  		<div class="layui-row layui-col-space1">
  			<div class="layui-col-md12">
    			<div class="layui-form-query">
    				<form class="layui-form m20">
    					<div class="layui-form-item">
						    <div class="layui-inline"> 
						      <div class="layui-input-inline"  style="width: 150px;">
						        <input type="text" name="likeProductBomCode"  placeholder="产品BOM编码" autocomplete="off" class="layui-input">
						      </div>
						    </div>
						    <div class="layui-inline"> 
						      <div class="layui-input-inline"  style="width: 150px;">
						          <input type="text" name="likeProductBomName"  placeholder="产品BOM名称" autocomplete="off" class="layui-input">
						      </div>
						    </div>
						    <div class="layui-inline">
						      <div class="layui-input-inline"  style="width: 150px;">
						      <button type="reset" class="layui-btn layui-btn-sm" id="reset" style="background-color: #009688;color:#FFFFFF">重置</button>
						      <button class="layui-btn layui-btn-sm"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
						      </div>
						    </div>
			  			</div>
            		</form>
            	</div>
            </div>
            <div class="layui-col-md12">
  	 			<div class="layui-row grid-demo">
            		<div class="layui-col-md12">
        				<table  class="layui-hide" id="product_result" lay-filter="product_result"></table>
        			</div>
        		</div>
        	</div>
        
        </div>
    </div>
</div>   
</body>

	<script type="text/html" id="productType">
	{{#  if(d.productType){}}
		{{ d.productType.dictName 

 	}}
	{{# } }}
	</script>  
	<script type="text/html" id="productName2">
	{{#  if(d.productMain){}}
		{{ d.productMain.productName 

 	}}
	{{# } }}
	</script>  
	 <script type="text/html" id="productCode">
	{{#  if(d.productMain){}}
		{{ d.productMain.productCode 

 	}}
	{{# } }}
	</script> 
	<script type="text/html" id="materialCode">
	{{#  if(d.productMaterial){}}
		{{ d.productMaterial.materialCode 
 	}}
	{{# } }}
   </script>
	<script type="text/html" id="materialName2">
	{{#  if(d.productMaterial){}}
		{{ d.productMaterial.materialName 
 	}}
	{{# } }}
   </script>
	<script type="text/html" id="sku">
	{{#  if(d.productMaterialVo){}}
		{{ d.productMaterialVo.sku 
 	}}
	{{# } }}
	</script>

 
<style type="text/css">
        .layui-table-cell {
            height: auto;
            line-height: 28px;
            vertical-align:middle;
        }
      
</style>
 
<script type="text/javascript">
var returnData = [];
layui.config({
    base: '/static/plugins/layui/base/',
    v: new Date().getTime()
}).use(['form','table','layuitable'], function(){
	var form = layui.form, 
	$ = layui.jquery,  table = layui.table,layuitable = layui.layuitable
	layer = layui.layer;
	
	var curTable = layuitable.render({
    	elem: '#product_result'
    	,id:'product_result'
    	,url:'/product/productBom/list/json?numberLevel=1'
    	,height:300
   		,cols: [[
		    	 {type:'radio'}
   	    	    ,{field:'bomCode',  title: '产品BOM编码',align:'center', width: 150}
   	    	    ,{field:'bomName',  title: '产品BOM名称',align:'center', width: 150} 
		    	,{field:'productTypeDictId',  title: '物品类型',align:'center', width: 130,templet: '#productType'}
   	    	    ,{field:'productCode',  title: '物品编码',align:'center', width: 150,templet: '#productCode'}
   	    	    ,{field:'productName',  title: '物品名称',align:'center', width: 300,templet: '#productName2'}
   	    	    ,{field:'materialCode',  title: '物品规格编码',align:'center', width: 150,templet: '#materialCode'}
   	    	    ,{field:'materialName',  title: '物品规格名称',align:'center', width: 300,templet: '#materialName2'}
   	    	    ,{field:'sku',  title: '物品规格值',align:'center', width: 300,templet: '#sku'}
     	    	]]
  	});
	
	form.on('submit(search)', function (data) {
		curTable.reload(data.field);
        return false;
  	});
	// table.on('tool(product_result)', product_tool_event_handler); // 为页面上的table上的tool绑定事件处理函数
	table.on('radio(product_result)', function(obj){
	  //console.log(obj.checked); //当前是否选中状态
	  //console.log(obj.data); //选中行的相关数据
	  //console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
	  returnData=[];
	  var checkStatus = table.checkStatus('product_result')
      ,selectData = checkStatus.data;
	   returnData.push(selectData);
	  
	});

 
});	
function selected() {
	return returnData;
}
</script>
 
  

</html>