<!DOCTYPE html>
<html>
  <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
  </head>
 <script type="text/html" id="nodeName">
	{{#  if(d.structProcessNode){}}
		{{ d.structProcessNode.nodeName 
 	}}
	{{# } }}
</script>
 <script type="text/html" id="instructName">
	{{#  if(d.structProcedureInstruct){}}
		{{ d.structProcedureInstruct.instructName 
 	}}
	{{# } }}
</script>

<script type="text/html" id="fixtureSpecsName">
	{{#  if(d.equipSpecsFixture){}}
		{{ d.equipSpecsFixture.fixtureSpecsName 
 	}}
	{{# } }}
</script>

  <body>
    <!-- <div class="x-nav">
      <span class="layui-breadcrumb"> 
        <a href="">生产工艺</a> <a><cite>工序工具清单</cite></a>
      </span>
    </div> -->
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
        <input type="hidden"  id="ids" />
        <input type="hidden"  id="idss" />
        <input type="hidden" name="materialId" id="materialId" placeholder="请选择物料" autocomplete="off" class="layui-input">
        <input type="hidden" name="productlId" id="productId" placeholder="请选择物品" autocomplete="off" class="layui-input">
           <!-- <select name="instructId">
             <option value="">请选择工序指令</option>
               <#if instructList??>
                   <#list instructList as item>
		           <option value="${item.id?c}" >${item.instructName}</option>
		        </#list>
		     </#if> 
          </select>
           <button class="layui-btn layui-btn-sm"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button> -->
        </form> 
      </div>
      <div class="layui-col-md12" style='text-align:right;'>
	    	<!-- <a class="layui-btn-small" href='javascript:void(0)' onclick="layer_window_show('添加工序物料','/struct/structProcedureMaterial/addProcedureMaterial')"><i class="layui-icon"></i>添加工序物料</a> -->
	    	<a class="layui-btn-small" href='javascript:void(0)' id="addProcedureMaterial"><i class="layui-icon"></i>添加工序物料</a>
	    </div>
       <div class="layui-col-md12">
  	 			<div class="layui-row grid-demo">
            		<div class="layui-col-md12" style="text-align: center;">
        					<table class="layui-hide" id="tablefilter" lay-filter="tablefilter"></table>
        			</div>
        		</div>
        </div>

    </div>
<script type="text/html" id="barDemo">	
	<a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="del">删除</a>
</script>
 <script type="text/html" id="nodeName">
	{{#  if(d.structProcessNode){}}
		{{ d.structProcessNode.nodeName 
 	}}
	{{# } }}
</script>
 <script type="text/html" id="instructName">
	{{#  if(d.structProcedureInstruct){}}
		{{ d.structProcedureInstruct.instructName 
 	}}
	{{# } }}
</script>
<script type="text/html" id="productName">
	{{#  if(d.productMain){}}
		{{ d.productMain.productName 
 	}}
	{{# } }}
</script>  
<script type="text/html" id="materialCode">
	{{#  if(d.productMaterial){}}
		{{ d.productMaterial.materialCode 
 	}}
	{{# } }}
</script>  
<script type="text/html" id="materialName">
	{{#  if(d.productMaterial){}}
		{{ d.productMaterial.materialName 
 	}}
	{{# } }}
</script>  
<script type="text/html" id="materialSku">
	{{#  if(d.productMaterialVo){}}
		{{ d.productMaterialVo.sku
 	}}
	{{# } }}
</script>  
<script type="text/javascript">
layui.config({
    base: '/static/plugins/layui/base/',
    v: new Date().getTime()
}).use([ 'form','table','laydate','layuiconfig','layuiformajax','layuitable'], function(){
	var form = layui.form, 
	$ = layui.jquery, table = layui.table,  laydate = layui.laydate,
	layer = layui.layer,  layuitable = layui.layuitable,layuiconfig = layui.layuiconfig;
	var layuiformajax = layui.layuiformajax;
	var url = $(window.parent.document).find("iframe").attr("src");
	var arr = url.split('?');
	var arrs = arr[1].split('&&');
    //console.log(arr);
    var result=url.indexOf("?");
    if(result>0){
    	var instructId = arrs[0].split('=')[1];
    	var processNodeId = arrs[1].split('=')[1];
    	/* $("#ids").val(instructId);
    	$("#idss").val(processNodeId); */
    }
	var curTable = layuitable.render({
    	elem: '#tablefilter'
    	,id:'tablefilter'
    	,url:'/struct/structProcedureMaterial/list/json?instructId=' + instructId
    	,cols: [[
    	    {field:'id', width:120, title: 'ID',align:'center'}
    	    /* ,{field:'nodeName',  title: '工序名称',align:'center',templet:'#nodeName'}
    	    ,{field:'instructName',  title: '指令名称', align:'center',templet:'#instructName'} */
    	    /* ,{field:'productId',  title: '物品名称',align:'center',templet:'#productName'} */
    	    ,{field:'materialCode',  title: '物品规格编码',align:'center', width: 140,templet:'#materialCode'}
    	    ,{field:'materialId',  title: '物品规格名称',align:'center', width: 140,templet:'#materialName'}
    	    ,{field:'materialSku',  title: '物品规格值',align:'center', width: 400,templet:'#materialSku'}
    	    ,{field:'quantity',  title: '单位用量',align:'center'}
    	    ,{field:'quantityBase',  title: '基数',align:'center'}
    	    ,{field:'wastageRatio',  title: '损耗率',align:'center'}
    	    /* ,{field:'createTime',  title: '创建时间', align:'center'} */
      		,{field:'',  width: 120, title: '操作', align:'center', toolbar: '#barDemo', fixed: 'right'}
    	]],done: function() {
	        $("[data-field='id']").css('display','none');
	    } 
  	});
	
	form.on('submit(search)', function (data) {
		layuitable.reload(data.field);
        return false;
  	});
	
	table.on('tool(tablefilter)', function(obj) {
		var data = obj.data;
		productName=data.productMain.productName;
	    materialName=data.productMaterial.materialName; 
		if (obj.event === 'edit') {
			layer_window_show('编辑工序物料','/struct/structProcedureMaterial/edit?id=' + data.id );
		}
		if (obj.event === 'del') {
	          //监听提交
     	  var url = '/struct/structProcedureMaterial/del?id='+ data.id;
     	  layuiformajax.postJson(url, '', function (result) {
     		  layer.msg('删除成功!', {icon: 1, time: 1000},function () {
   	                // 获得frame索引
   	                var index = parent.layer.getFrameIndex(window.name);
   				  	location.reload(); 
   	                layer.close(index);
   	            });
   		  });
		}
	}); 
	
	$('#addProcedureMaterial').on('click',function(e){
		openWinSelectAdd('/product/productMaterial/productMaterialOpen',"materialId","productId");
		e.preventDefault();//默认from表单提交时不刷新
	}) 
	
	
	function openWinSelectAdd(url,inputId,productid){
		layer.open({
			type: 2, 
			title :'请选择数据',
			maxmin: true,
			area: ['850px', '550px'],
			btn: ['确定', '取消'],
			content: url, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com ', 'no']
			yes: function(index, layero){
				var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对象，执行iframe页的方法：
				var selectData = iframeWin.selected();//调用子页面的方法，得到子页面返回的ids
				if (selectData.length <= 0) {
					layer.msg('请至少选择一个！');
				} else {
					var id=selectData[0][0].id;
					var productId=selectData[0][0].productId;
					var url = '/struct/structProcedureMaterial/save';
		       	    layuiformajax.postJson(url, {"processNodeId":processNodeId,"instructId":instructId,"materialId":id,"productId":productId,"quantity":"1","quantityBase":"0","wastageRatio":"0"}, function (result) {
		       		    layer.msg('添加成功!', {icon: 1, time: 1000},function () {
		     	            // 获得frame索引
		     	            var index = parent.layer.getFrameIndex(window.name);
		     	            location.reload(); 
		     	            layer.close(index);
		    	        });
		       		  
		   		    }); 
					
					
				}
			},
			
		}); 
	}
	
});	
</script>
 
  </body>

</html>