<!DOCTYPE html>
<html>
  
  <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
  </head>
   <script type="text/html" id="isValidTpl">
    {{#  if(d.isValid == '1'){ }}
		是
	{{#  }else { }}
		否
	{{#  } }}
  </script> 
  <script type="text/html" id="factoryName">
	{{#  if(d.structFactory){}}
		{{ d.structFactory.factoryName 
 	}}
	{{# } }}
   </script>
   <script type="text/html" id="workshopName">
	{{#  if(d.structWorkshop){}}
		{{ d.structWorkshop.workshopName 
 	}}
	{{# } }}
   </script>
   <script type="text/html" id="processDictName">
	{{#  if(d.configDictionary){}}
		{{ d.configDictionary.dictName 
 	}}
	{{# } }}
   </script>
   
   <script type="text/html" id="processName">
	{{#  if(d.structProcess){}}
		{{ d.structProcess.processName
 	}}
	{{# } }}
   </script>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb"> 
        <a href="">工厂构造</a> <a><cite>产线</cite></a>
      </span>
       <!--
       <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
       <i class="layui-icon" style="line-height:30px">ဂ</i></a>
       -->
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="productionlineName"  placeholder="请输入产线名称" autocomplete="off" class="layui-input">
          <input type="text" name="productionlineCode"  placeholder="请输入产线编码" autocomplete="off" class="layui-input">
            <select name="factoryName">    
                <option value="">请选择工厂</option> 
                 <#if factoryList??>
                     <#list factoryList as item>
			            <option value="${item.id?c}" >${item.factoryName}</option>
			         </#list>
			         </#if> 
          </select> 
            <select name="workshopName">    
                <option value="">请选择车间</option> 
                 <#if structWorkshopList??>
                     <#list structWorkshopList as item>
			            <option value="${item.id?c}" >${item.workshopName}</option>
			         </#list>
			         </#if> 
           </select> 
           <!-- <select name="processDictName">    
                <option value="">请选择制程</option> 
                 <#if dictionaryList??>
                     <#list dictionaryList as item>
			            <option value="${item.id?c}" >${item.dictName}</option>
			         </#list>
			         </#if> 
          </select>  -->
           <button type="reset" class="layui-btn layui-btn-sm  " id="reset" style="background-color: #009688;color:#FFFFFF">重置</button>  
           <button class="layui-btn layui-btn-sm"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!-- <button class="layui-btn" onclick="delAll()"><i class="layui-icon"></i>删除</button> -->
        <button class="layui-col-md-offset10 layui-btn layui-btn-sm" onclick="layer_window_show('添加产线','/struct/structProductionline/edit')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:30px"></span>
      </xblock>
       <div class="layui-col-md12">
  	 			<div class="layui-row grid-demo">
            		<div class="layui-col-md12" style="text-align: center;">
        					<table class="layui-hide" id="listTable" lay-filter="tablefilter"></table>
        			</div>
        		</div>
        </div>
     
     

    </div>
<script type="text/html" id="barDemo">	
	  <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="edit">编辑</a>
  	  <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="seachWorkstation">关联产线工位</a>
  	  <!--
  	  <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="seachEquip">关联产线设备</a>
      <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="seachEquipFixture">关联产线工具</a>
      --> 
</script>
<script type="text/javascript">
layui.config({
    base: '/static/plugins/layui/base/',
    v: new Date().getTime()
}).use([ 'form','table','laydate','layuiconfig','layuiformajax','layuitable'], function(){
	var form = layui.form, 
	$ = layui.jquery, table = layui.table,  laydate = layui.laydate,
	layer = layui.layer,  layuitable = layui.layuitable,layuiconfig = layui.layuiconfig;
	var layuiformajax = layui.layuiformajax;
	
	var curTable = layuitable.render({
    	elem: '#listTable'
    	,id:'listTable'
    	,url:'/struct/structProductionline/list/json'
    	,cols: [[
    	    {field:'id', width:120, title: 'ID',align:'center'}
    	    ,{field:'productionlineCode',  title: '产线编码',align:'center'}
    	    ,{field:'productionlineName',  title: '产线名称',align:'center'}
    	    ,{field:'factoryName',  title: '工厂名称', align:'center',templet:'#factoryName'}
    	    ,{field:'workshopName',  title: '车间', align:'center',templet:'#workshopName'}
    	    /* ,{field:'processName',  title: '工艺名称', align:'center',templet:'#processName'} */
    	    ,{field:'processDictName',  title: '制程', align:'center',templet:'#processDictName'} 
    	    ,{field:'isValid',  title: '是否有效', align:'center',templet:'#isValidTpl'}
    	    ,{field:'remark',  title: '备注', align:'center'}
    	    ,{field:'createTime',  title: '创建时间', align:'center'}
      		,{field:'', width:'20%', title: '操作', align:'center', toolbar: '#barDemo', fixed: 'right'}
    	]]
		 ,done: function () {
		        $(".layui-table-box").find("[data-field='id']").css("display","none");   
		        $("[data-field='processDictName']").css('display','none');
		 }
  	});
	
	form.on('submit(search)', function (data) {
		layuitable.reload(data.field);
        return false;
  	});
 
	
	table.on('tool(tablefilter)', function(obj) {
		var data = obj.data;
		if (obj.event === 'edit') { 
			layer_window_show('编辑产线','/struct/structProductionline/edit?id=' + data.id/*  +'&&processName='+data.structProcess.processName */);
		}
		if (obj.event === 'seachEquip') {
			layer_window_show('关联产线设备','/struct/structProdlineEquip/searchListEquip?productionlineId=' + data.id + '&&workshopId=' + data.workshopId);
		}
		if (obj.event === 'seachWorkstation') {
			layer_window_show('关联产线工位','/struct/structProdlineWorkstation/list?productionlineId=' + data.id + '&&workshopId=' + data.workshopId);
		}
		if (obj.event === 'seachEquipFixture') {
			layer_window_show('关联产线工具','/struct/structProdlineEquipFixture/searchListEquipFixture?productionlineId=' + data.id + '&&workshopId=' + data.workshopId);
		}
	});
	
});	
</script>
 
  </body>

</html>