<!DOCTYPE html>
<html>
  
  <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
  </head>
   <script type="text/html" id="isValidTpl">
    {{#  if(d.isValid == '1'){ }}
		是
	{{#  }else { }}
		否
	{{#  } }}
   </script> 
   <script type="text/html" id="factoryNameTpl">
	{{#  if(d.structFactory){}}
		{{ d.structFactory.factoryName 
 	}}
	{{# } }}
   </script>
   <script type="text/html" id="floorNameTpl">
	{{#  if(d.structFloor){}}
		{{ d.structFloor.floorName 
 	}}
	{{# } }}
   </script>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb"> 
        <a href="">工厂构造</a> <a><cite>车间</cite></a>
      </span>
       <!--
       <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
       <i class="layui-icon" style="line-height:30px">ဂ</i></a>
       -->
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="likeWorkShopName"  placeholder="请输入车间名称" autocomplete="off" class="layui-input">
          <input type="text" name="likeWorkShopCode"  placeholder="请输入车间编码" autocomplete="off" class="layui-input">
           <input type="hidden" name="factoryId" id="factoryId" placeholder="请选择工厂" autocomplete="off" class="layui-input">
       	   <input type="text" name="factoryName" id="factoryName" placeholder="请选择工厂" autocomplete="off" class="layui-input">
           <button class="layui-btn layui-btn-sm  " id="factorySearch" style="background-color: #009688;color:#FFFFFF" >
			<i class="layui-icon layui-icon-more" ></i>
		   </button>
           <input type="hidden" name="floorId" id="floorId" placeholder="请选择楼层" autocomplete="off" class="layui-input">
       	   <input type="text" name="floorName" id="floorName" placeholder="请选择楼层" autocomplete="off" class="layui-input">
           <button class="layui-btn layui-btn-sm  " id="floorSearch" style="background-color: #009688;color:#FFFFFF" >
			<i class="layui-icon layui-icon-more" ></i>
		   </button>
          <button type="reset" class="layui-btn layui-btn-sm  " id="reset" style="background-color: #009688;color:#FFFFFF">重置</button> 
          <button class="layui-btn layui-btn-sm"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!-- <button class="layui-btn" onclick="delAll()"><i class="layui-icon"></i>删除</button> -->
        <button class="layui-col-md-offset10 layui-btn layui-btn-sm" onclick="layer_window_show('添加车间','/struct/structWorkshop/edit')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:30px"></span>
      </xblock>
       <div class="layui-col-md12">
  	 			<div class="layui-row grid-demo">
            		<div class="layui-col-md12" style="text-align: center;">
        					<table class="layui-hide" id="listTable" lay-filter="tablefilter"></table>
        			</div>
        		</div>
        </div>
     
     

    </div>
<script type="text/html" id="barDemo">	
	<a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="edit">编辑</a>
</script>    
<script type="text/javascript">
layui.config({
    base: '/static/plugins/layui/base/',
    v: new Date().getTime()
}).use([ 'form','table','laydate','layuiconfig','layuiformajax','layuitable'], function(){
	var form = layui.form, 
	$ = layui.jquery, table = layui.table,  laydate = layui.laydate,
	layer = layui.layer,  layuitable = layui.layuitable,layuiconfig = layui.layuiconfig;
	var layuiformajax = layui.layuiformajax;
	
	var curTable = layuitable.render({
    	elem: '#listTable'
    	,id:'listTable'
    	,url:'/struct/structWorkshop/list/json'
    	,cols: [[
    	    {field:'id', width:120, title: 'ID',align:'center'}
    	    ,{field:'workshopCode',  title: '车间编码',align:'center'}
    	    ,{field:'workshopName',  title: '车间名称',align:'center'}
    	    ,{field:'floorName',  title: '所属楼层', align:'center',templet:'#floorNameTpl'}
    	    ,{field:'factoryName',  title: '工厂名称', align:'center',templet:'#factoryNameTpl'}
    	    ,{field:'isValid',  title: '是否有效', align:'center',templet:'#isValidTpl'}
    	    ,{field:'remark',  title: '备注', align:'center'}
    	    ,{field:'createTime',  title: '创建时间', align:'center'}
      		,{field:'', title: '操作', align:'center', toolbar: '#barDemo', fixed: 'right'}
    	]],
        done: function () {
            $(".layui-table-box").find("[data-field='id']").css("display","none");   
         }
  	});
	
	$('#factorySearch').on('click',function(e){
		openWinSelect('/struct/structFactory/structFactoryOpen',"factoryId","factoryName");
   		e.preventDefault();//默认from表单提交时不刷新
   	})
	
     //打开楼层信息列表
    $('#floorSearch').on('click',function(e){
    	openWinSelect('/struct/structFloor/structFloorOpen',"floorId","floorName");
   		e.preventDefault();//默认from表单提交时不刷新
    })
	
	form.on('submit(search)', function (data) {
		layuitable.reload(data.field);
        return false;
  	});
 
	table.on('tool(tablefilter)', function(obj) {
		var data = obj.data;
		if (obj.event === 'edit') { 
			layer_window_show('编辑车间','/struct/structWorkshop/edit?id=' + data.id); 
		}
	});
	$('#reset').on('click',function(e){
   		$("input").val("");
   		$("select").val("");
   	})
});	
</script>
 
  </body>

</html>