<!DOCTYPE html>
<html>
  
  <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
	<style>
		.layui-unselect{
			height:1px;
		}
	
	</style>
  </head>
  <body>
    <div class="layui-fluid">
  		<div class="layui-row layui-col-space1">
  			<div class="layui-col-md12">
    			<div class="layui-form-query">
    				<form class="layui-form m20">
    					<div class="layui-form-item">
						    <div class="layui-inline"> 
						      <div class="layui-input-inline"  style="width: 150px;">
						          <input type="text" name="productionlineCode"  placeholder="请输入产线编码" autocomplete="off" class="layui-input">
						      </div>
						    </div>
						    <div class="layui-inline"> 
						      <div class="layui-input-inline"  style="width: 150px;">
						           <input type="text" name="productionlineName"  placeholder="请输入产线名称" autocomplete="off" autocomplete="off" class="layui-input"> 
						      </div>
						    </div>
						    <div class="layui-inline">
						      <div class="layui-input-inline"  style="width: 150px;">
						         <button type="reset" class="layui-btn layui-btn-sm  " id="reset" style="background-color: #009688;color:#FFFFFF">重置</button> 
						         <button class="layui-btn layui-btn-sm"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
						      </div>
						    </div>
			  			</div>
            		</form>
            	</div>
            </div>
            <div class="layui-col-md12">
  	 			<div class="layui-row grid-demo">
            		<div class="layui-col-md12">
        				<table class="layui-hide" id="listTable" lay-filter="tablefilter"></table>
        			</div>
        		</div>
        	</div>
        
        </div>
    </div>
</div>   
</body>
<style type="text/css">
     .layui-table-cell {
         height: auto;
         line-height: 28px;
         vertical-align:middle;
     }  
</style>
   
 
<script type="text/javascript">
var returnData = [];
layui.config({
    base: '/static/plugins/layui/base/',
    v: new Date().getTime()
}).use(['form','table','layuitable'], function(){
	var form = layui.form, 
	$ = layui.jquery,  table = layui.table,layuitable = layui.layuitable
	layer = layui.layer;
	var curTable = layuitable.render({
    	elem: '#listTable'
    	,id:'listTable'
    	,url:'/struct/structProductionline/list/json'
    	,height:300
    	,cols: [[
             {type:'radio'}
             ,{field:'productionlineCode',  title: '产线编码',align:'center'}
     	     ,{field:'productionlineName',  title: '产线名称',align:'center'}
    	     ,{field:'remark',  title: '备注', align:'center'}
    	     ,{field:'createTime',  title: '创建时间', align:'center',minWidth: 170}
    	]]
  	});
	
	
	form.on('submit(search)', function (data) {
		curTable.reload(data.field);
        return false;
  	});
	// table.on('tool(inspectType_result)', product_tool_event_handler); // 为页面上的table上的tool绑定事件处理函数
	table.on('radio(tablefilter)', function(obj){
	  //console.log(obj.checked); //当前是否选中状态
	  //console.log(obj.data); //选中行的相关数据
	  //console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
	  returnData=[];
	  var checkStatus = table.checkStatus('listTable')
      ,selectData = checkStatus.data;
	   returnData.push(selectData);
	  
	});

	$('#reset').on('click',function(e){
   		$("input").val("");
   		$("select").val("");
   	})
});	
function selected() {
	return returnData;
}
</script>
</html>