<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.firm.FirmDepartmentMapper">
	<resultMap id="FirmDepartment" type="com.techsoft.entity.common.FirmDepartment" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="FACTORY_ID" property="factoryId" />
		<result column="DEPARTMENT_NAME" property="departmentName" />
		<result column="DEPARTMENT_CODE" property="departmentCode" />
		<result column="PARENT_ID" property="parentId" />
		<result column="IS_VALID" property="isValid" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="factoryId != null">
			AND A.FACTORY_ID= #{factoryId}
		</if>
		<if test="departmentName != null">
			AND A.DEPARTMENT_NAME= #{departmentName}
		</if>
		<if test="departmentCode != null">
			AND A.DEPARTMENT_CODE= #{departmentCode}
		</if>
		<if test="parentId != null">
			AND A.PARENT_ID= #{parentId}
		</if>
		<if test="isValid != null">
			AND A.IS_VALID= #{isValid}
		</if>
		<if test="remark != null">
			AND A.REMARK= #{remark}
		</if>

		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	  <if test="departmentNameLike != null">
	    <bind name="dtName" value="'%' + _parameter.departmentNameLike + '%'" />
	       AND A.DEPARTMENT_NAME LIKE #{dtName}
	  </if>
	  <if test="departmentCodeLike != null">
	    <bind name="dtCode" value="'%' + _parameter.departmentCodeLike + '%'" />
	       AND A.DEPARTMENT_CODE LIKE #{dtCode}
	  </if>
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
	
	<sql id="Order_By_Sql">
	 	order by id desc
	</sql>	
		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.FACTORY_ID,
		A.DEPARTMENT_NAME,
		A.DEPARTMENT_CODE,
		A.PARENT_ID,
		A.IS_VALID,
		A.REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for MYCATSEQ_FIRM_DEPARTMENT_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from FIRM_DEPARTMENT
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.FirmDepartment">
		SELECT
		<include refid="Base_Column_List" />
		FROM FIRM_DEPARTMENT A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.FirmDepartment">
		SELECT
		<include refid="Base_Column_List" />
		FROM FIRM_DEPARTMENT A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE FIRM_DEPARTMENT A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE FIRM_DEPARTMENT  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.FirmDepartment">
		UPDATE FIRM_DEPARTMENT A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.FirmDepartment">
		INSERT INTO FIRM_DEPARTMENT (
		TENANT_ID,
		FACTORY_ID,
		DEPARTMENT_NAME,
		DEPARTMENT_CODE,
		PARENT_ID,
		IS_VALID,
		REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{factoryId},
		#{departmentName},
		#{departmentCode},
		#{parentId},
		#{isValid},
		#{remark}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.FirmDepartment">
		UPDATE FIRM_DEPARTMENT SET
		TENANT_ID=#{tenantId},
		FACTORY_ID=#{factoryId},
		DEPARTMENT_NAME=#{departmentName},
		DEPARTMENT_CODE=#{departmentCode},
		PARENT_ID=#{parentId},
		IS_VALID=#{isValid},
		REMARK=#{remark},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.FirmDepartment">
		UPDATE FIRM_DEPARTMENT SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="factoryId != null" >
			FACTORY_ID=#{factoryId},
		</if>
		<if test="departmentName != null" >
			DEPARTMENT_NAME=#{departmentName},
		</if>
		<if test="departmentCode != null" >
			DEPARTMENT_CODE=#{departmentCode},
		</if>
		<if test="parentId != null" >
			PARENT_ID=#{parentId},
		</if>
		<if test="isValid != null" >
			IS_VALID=#{isValid},
		</if>
		<if test="remark != null" >
			REMARK=#{remark},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.firm.FirmDepartmentParamVo"
		      resultType="com.techsoft.entity.common.FirmDepartment" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM FIRM_DEPARTMENT A
		WHERE (A.DEL_FLAG = 0)
		<if test="parent != null">
			AND A.PARENT_ID= #{parent}
		</if>
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
</mapper>