<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.sys.AdminMenuMapper">
	<resultMap id="AdminMenu" type="com.techsoft.entity.common.AdminMenu" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="MENU_CODE" property="menuCode" />
		<result column="MENU_NAME" property="menuName" />
		<result column="PARENT_ID" property="parentId" />
		<result column="MENU_URL" property="menuUrl" />
		<result column="MENU_REG" property="menuReg" />
		<result column="SYSTEM_TYPE_DICT_ID" property="systemTypeDictId" />
		<result column="IS_VALID" property="isValid" />
		<result column="IMAGE_PATH" property="imagePath" />
		<result column="SORT_NO" property="sortNo" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="menuCode != null">
			AND A.MENU_CODE= #{menuCode}
		</if>
		<if test="menuName != null">
			AND A.MENU_NAME= #{menuName}
		</if>
		<if test="parentId != null">
			AND A.PARENT_ID= #{parentId}
		</if>
		<if test="menuUrl != null">
			AND A.MENU_URL= #{menuUrl}
		</if>
		<if test="menuReg != null">
			AND A.MENU_REG= #{menuReg}
		</if>
		<if test="systemTypeDictId != null">
			AND A.SYSTEM_TYPE_DICT_ID= #{systemTypeDictId}
		</if>
		<if test="isValid != null">
			AND A.IS_VALID= #{isValid}
		</if>
		<if test="imagePath != null">
			AND A.IMAGE_PATH= #{imagePath}
		</if>
		<if test="sortNo != null">
			AND A.SORT_NO= #{sortNo}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	<if test="likeMenuName != null">
		<bind name="likeMenuName" value="'%' + _parameter.likeMenuName + '%'"/>
		AND A.MENU_NAME LIKE #{likeMenuName}
	</if>
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
		
	<sql id="Order_By_Sql">
 		order by A.SORT_NO asc
	</sql>		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.MENU_CODE,
		A.MENU_NAME,
		A.PARENT_ID,
		A.MENU_URL,
		A.MENU_REG,
		A.SYSTEM_TYPE_DICT_ID,
		A.IS_VALID,
		A.IMAGE_PATH,
		A.SORT_NO
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for ADMIN_MENU_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from ADMIN_MENU
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.AdminMenu">
		SELECT
		<include refid="Base_Column_List" />
		FROM ADMIN_MENU A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.AdminMenu">
		SELECT
		<include refid="Base_Column_List" />
		FROM ADMIN_MENU A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
		<include refid="Order_By_Sql" />  
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM ADMIN_MENU A
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE   A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM ADMIN_MENU A
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>) 
	
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.AdminMenu">
		UPDATE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM ADMIN_MENU A
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.AdminMenu">
		INSERT INTO ADMIN_MENU (
		TENANT_ID,
		MENU_CODE,
		MENU_NAME,
		PARENT_ID,
		MENU_URL,
		MENU_REG,
		SYSTEM_TYPE_DICT_ID,
		IS_VALID,
		IMAGE_PATH,
		SORT_NO
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{menuCode},
		#{menuName},
		#{parentId},
		#{menuUrl},
		#{menuReg},
		#{systemTypeDictId},
		#{isValid},
		#{imagePath},
		#{sortNo}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.AdminMenu">
		UPDATE ADMIN_MENU SET
		TENANT_ID=#{tenantId},
		MENU_CODE=#{menuCode},
		MENU_NAME=#{menuName},
		PARENT_ID=#{parentId},
		MENU_URL=#{menuUrl},
		MENU_REG=#{menuReg},
		SYSTEM_TYPE_DICT_ID=#{systemTypeDictId},
		IS_VALID=#{isValid},
	 
		SORT_NO=#{sortNo},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.AdminMenu">
		UPDATE ADMIN_MENU SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="menuCode != null" >
			MENU_CODE=#{menuCode},
		</if>
		<if test="menuName != null" >
			MENU_NAME=#{menuName},
		</if>
		<if test="parentId != null" >
			PARENT_ID=#{parentId},
		</if>
		<if test="menuUrl != null" >
			MENU_URL=#{menuUrl},
		</if>
		<if test="menuReg != null" >
			MENU_REG=#{menuReg},
		</if>
		<if test="systemTypeDictId != null" >
			SYSTEM_TYPE_DICT_ID=#{systemTypeDictId},
		</if>
		<if test="isValid != null" >
			IS_VALID=#{isValid},
		</if>
	 
		<if test="sortNo != null" >
			SORT_NO=#{sortNo},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.sys.AdminMenuParamVo"
		      resultType="com.techsoft.entity.common.AdminMenu" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM ADMIN_MENU A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
</mapper>