<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.track.TrackBarcodeUnpackMapper">
	<resultMap id="TrackBarcodeUnpack" type="com.techsoft.entity.common.TrackBarcodeUnpack" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="FACTORY_ID" property="factoryId" />
		<result column="WAREHOUSE_ID" property="warehouseId" />
		<result column="BARCODE_ID" property="barcodeId" />
		<result column="PARENT_ID" property="parentId" />
		<result column="QUANTITY" property="quantity" />
		<result column="QUANTITY_FRONT" property="quantityFront" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="factoryId != null">
			AND A.FACTORY_ID= #{factoryId}
		</if>
		<if test="warehouseId != null">
			AND A.WAREHOUSE_ID= #{warehouseId}
		</if>
		<if test="barcodeId != null">
			AND A.BARCODE_ID= #{barcodeId}
		</if>
		<if test="parentId != null">
			AND A.PARENT_ID= #{parentId}
		</if>
		<if test="quantity != null">
			AND A.QUANTITY= #{quantity}
		</if>
		<if test="quantityFront != null">
			AND A.QUANTITY_FRONT= #{quantityFront}
		</if>
		<if test="remark != null">
			AND A.REMARK= #{remark}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
		
	<sql id="Order_By_Sql">
 		order by id desc
	</sql>		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.FACTORY_ID,
		A.WAREHOUSE_ID,
		A.BARCODE_ID,
		A.PARENT_ID,
		A.QUANTITY,
		A.QUANTITY_FRONT,
		A.REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for TRACK_BARCODE_UNPACK_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from TRACK_BARCODE_UNPACK
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.TrackBarcodeUnpack">
		SELECT
		<include refid="Base_Column_List" />
		FROM TRACK_BARCODE_UNPACK A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.TrackBarcodeUnpack">
		SELECT
		<include refid="Base_Column_List" />
		FROM TRACK_BARCODE_UNPACK A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM TRACK_BARCODE_UNPACK A
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE   A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM TRACK_BARCODE_UNPACK A
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.TrackBarcodeUnpack">
		UPDATE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM TRACK_BARCODE_UNPACK A
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.TrackBarcodeUnpack">
		INSERT INTO TRACK_BARCODE_UNPACK (
		TENANT_ID,
		FACTORY_ID,
		WAREHOUSE_ID,
		BARCODE_ID,
		PARENT_ID,
		QUANTITY,
		QUANTITY_FRONT,
		REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{factoryId},
		#{warehouseId},
		#{barcodeId},
		#{parentId},
		#{quantity},
		#{quantityFront},
		#{remark}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.TrackBarcodeUnpack">
		UPDATE TRACK_BARCODE_UNPACK SET
		TENANT_ID=#{tenantId},
		FACTORY_ID=#{factoryId},
		WAREHOUSE_ID=#{warehouseId},
		BARCODE_ID=#{barcodeId},
		PARENT_ID=#{parentId},
		QUANTITY=#{quantity},
		QUANTITY_FRONT=#{quantityFront},
		REMARK=#{remark},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.TrackBarcodeUnpack">
		UPDATE TRACK_BARCODE_UNPACK SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="factoryId != null" >
			FACTORY_ID=#{factoryId},
		</if>
		<if test="warehouseId != null" >
			WAREHOUSE_ID=#{warehouseId},
		</if>
		<if test="barcodeId != null" >
			BARCODE_ID=#{barcodeId},
		</if>
		<if test="parentId != null" >
			PARENT_ID=#{parentId},
		</if>
		<if test="quantity != null" >
			QUANTITY=#{quantity},
		</if>
		<if test="quantityFront != null" >
			QUANTITY_FRONT=#{quantityFront},
		</if>
		<if test="remark != null" >
			REMARK=#{remark},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.track.TrackBarcodeUnpackParamVo"
		      resultType="com.techsoft.entity.common.TrackBarcodeUnpack" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM TRACK_BARCODE_UNPACK A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
	
	<insert id="insertBatchSn" flushCache="true" parameterType="java.util.List">
	  	 INSERT INTO TRACK_BARCODE_UNPACK (
			TENANT_ID,
			BARCODE_ID,
			PARENT_ID,
			QUANTITY,
			REMARK,
			ID
			,VERSION
			,DEL_FLAG
			,CREATE_USER_ID
			,MODIFY_USER_ID
			,CREATE_TIME
			,MODIFY_TIME
			) VALUES
		<foreach collection="list" item="item" separator=",">
			(				
			#{item.tenantId},
			#{item.barcodeId},
			#{item.parentId},
			#{item.quantity},
			,#{item.remark}
			,#{item.id}
			,1
			,0
			,#{item.createUserId}
			,#{item.modifyUserId} 
			,now()
			,now()
			)
		</foreach>
  </insert>		
</mapper>