<!DOCTYPE html>
<html>
  
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
  </head>
  
  <body>
    <div class="x-body">
      <form id="dataForm"  method="post" class="layui-form">
        <input type="hidden"  id="id"  name="id" value="<#if entity??&&entity.id??>${entity.id?c}<#else></#if>" />
        <input type="hidden"  id="version"  name="version" value="<#if entity??&&entity.version??>${entity.version?c}<#else></#if>" />        
        <table class="layui-table ">
            <tr>
               <td width="10%" class="tableleft">检验水平名称</td> 
               <td>
               <select id="sampleLevelDictId" name="sampleLevelDictId" lay-filter="sampleLevelSelect">> 
                    <#if sampleLevelList??>
                     <#list sampleLevelList as item>
			            <option value="${item.id?c}" <#if (entity.sampleLevelDictId??&&entity.sampleLevelDictId==item.id)>selected="selected"</#if>>${item.dictName}</option>
			         </#list>
			         </#if>
			   </select>
			   </td>
                <td width="10%" class="tableleft">检验水平等级</td>
               <td>  <input type="hidden"  id="initsampleLevelRankDictId" value="<#if entity??&&entity.sampleLevelRankDictId??>${entity.sampleLevelRankDictId?c}<#else></#if>" />
               <select id="sampleLevelRankDictId" name="sampleLevelRankDictId"> 
			   </select>
			   </td>
           </tr>
           
           
            <tr id ="tr">
               <td id="tds" width="10%" class="tableleft">请选择类型</td>      
               <td id="tds1">
              	  <select name="selectId" id="selectId" lay-filter="selectId" > 
              	     <option value="0">请选择</option>
			         <option value="GYS">供应商名称</option>
			         <option value="CP">物品</option>
			         <option value="CPFL">物品分类名称</option>
			    </select>
			 </td>
			 
			 <td width="10%" class="tableleft">检验模板</td>
               <td>
			       <div class="div-choiceBox-intd ">  
                		<input type="hidden"  id="inspectItemId" name="inspectItemId" disabled="disabled" class="layui-input input-choiceBox-intd" value="<#if entity??&&entity.inspectItemId??>${entity.inspectItemId?c}<#else></#if>">
                		<input type="text" id="inspectItemName" name="inspectItemName" value="${(qualityInspectItem.inspectItemName)!''}" disabled="disabled" class="layui-input input-choiceBox-intd"/>
		          		<button class="layui-btn  layui-btn-primary btn-choiceBox-intd" id="qualityInspectItemSearch"> 
		          			<i class="layui-icon layui-icon-more"></i>   
		          		</button>
	         	 	</div> 
               </td>
           </tr>

           <tr>
               <td id='td1' width="10%" class="tableleft">供应商名称</td>
               <td id='td2'>
                	<div class="div-choiceBox-intd ">  
                		<input type="hidden"  id="supplierId" name="supplierId" disabled="disabled" class="layui-input input-choiceBox-intd" value="<#if entity??&&entity.supplierId??>${entity.supplierId?c}<#else></#if>">
                		<input type="text" id="companyName" name="companyName" value="${(firmPartner.companyName)!''}" disabled="disabled" class="layui-input input-choiceBox-intd"/>
		          		<button class="layui-btn  layui-btn-primary btn-choiceBox-intd" id="supplierSearch"> 
		          			<i class="layui-icon layui-icon-more"></i>   
		          		</button>
	         	 	</div> 
               </td> 
               <td id='td3' width="10%" class="tableleft">物品</td>
                <td id='td4'>
                	<div class="div-choiceBox-intd ">   
                		<input type="hidden"  id="productId" name="productId" disabled="disabled" class="layui-input input-choiceBox-intd" value="<#if entity??&&entity.productId??>${entity.productId?c}<#else></#if>">
                		<input type="text" id="productName" name="productName" value="${(productMain.productName)!''}"  disabled="disabled" class="layui-input input-choiceBox-intd">
		          		<button class="layui-btn  layui-btn-primary btn-choiceBox-intd" id="productSearch"> 
		          			<i class="layui-icon layui-icon-more"></i>   
		          		</button>
	         	 	</div>
                </td> 
           </tr>

           <tr>
               <td id='td5' width="10%" class="tableleft">物品分类名称</td>
               <td id='td6'>
			       <div class="div-choiceBox-intd ">  
                		<input type="hidden"  id="productClassesId" name="productClassesId" disabled="disabled" class="layui-input input-choiceBox-intd" value="<#if entity??&&entity.productClassesId??>${entity.productClassesId?c}<#else></#if>">
                		<input type="text" id="classesName" name="classesName" value="${(productClasses.classesName)!''}" disabled="disabled" class="layui-input input-choiceBox-intd"/>
		          		<button class="layui-btn  layui-btn-primary btn-choiceBox-intd" id="productClassesSearch"> 
		          			<i class="layui-icon layui-icon-more"></i>   
		          		</button>
	         	 	</div> 
               </td>
               
              <td width="10%" class="tableleft">备注</td>
              <td><input type="text" name="remark" class="layui-input" maxlength="100" value="${(entity.remark)!''}"/></td>
           </tr>

           
           <tr>
            <td colspan="4"  style="text-align:center">
               <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>	
            </td>
           </tr>
       </table>  
      </form>

    </div>
    <script>
    var statusDictId="10313";
    layui.config({
        base: '/static/plugins/layui/base/',
        v: new Date().getTime()
    }).use([ 'form','table','layer','layuiconfig','layuiformajax','layuitable'], function(){
    	$ = layui.$, 
    	admin = layui.admin, 
    	table = layui.table, 
    	layer = layui.layer, 
    	laydate = layui.laydate,
    	layuitable = layui.layuitable,
    	form = layui.form; 
		var layuiformajax = layui.layuiformajax;
          
          $('#productSearch').on('click',function(e){
         		openWinSelect('/product/productMain/productMainOpen',"productId","productName");
         		e.preventDefault();//默认from表单提交时不刷新
         })
      	  
      	 $('#supplierSearch').on('click',function(e){
    		openWinSelect('/firm/firmPartner/firmPartnerOpen',"supplierId","companyName");
       		e.preventDefault();//默认from表单提交时不刷新
       	 }) 
       	 
         $('#productClassesSearch').on('click',function(e){
    		openWinSelect('/product/productClasses/productClassesOpen',"productClassesId","classesName");
       		e.preventDefault();//默认from表单提交时不刷新
       	 })
       	 
       	 
       	 $('#qualityInspectItemSearch').on('click',function(e){
    		openWinSelect('/quality/qualityInspectItem/qualityInspectItemOpen',"inspectItemId","inspectItemName");
       		e.preventDefault();//默认from表单提交时不刷新
       	 })
       	 
          //选择工厂查楼层级联监听
            form.on('select(sampleLevelSelect)', function(data){
        	  var sampleLevelDictId=0;
        	  if(data.value != ''){
        		  sampleLevelDictId=data.value;
        	  }
        	  $("#sampleLevelRankDictId option[value!='']").remove();
        	  linkCommonMethod('dictValue',sampleLevelDictId,'sampleLevelRankDictId','dictName','','/quality/qualityInspectModuleRelation/getSampleLevelByRank');
        	  $("#sampleLevelRankDictId").get(0).selectedIndex=0;
          }); 
      	   
      	  

      	  
          //监听 功能定义类型 下拉框值发生变化
          form.on('select(selectId)', function(sp){
              selectSU(sp.value);
          });	
        	
  	    function selectSU(sp){
  	    	if(sp!=0){
  	    		$("#selectId").val(1);
  	    	 }
	 		if(sp == 0){
	     		$("#td1,#td2,#td3,#td4,#td5,#td6").hide(); 
	     	}else if(sp=='GYS'){
	     		//$("#td3,#td4,#td5,#td6").show();
	     		$("#td3,#td4,#td5,#td6").hide();
	     		$("#td1,#td2").show();
	     	}else if(sp=='CP'){
	     		$("#td1,#td2,#td5,#td6").hide();
	     		$("#td3,#td4").show();
	     	}else if(sp=='CPFL'){
	     		$("#td1,#td2,#td3,#td4").hide();
	     		$("#td5,#td6").show();
	     	}
	  	}
  	    

          //监听提交
          form.on('submit(save)', function(data){
        	  console.log(data.field.id);

        	  var slId = $("#sampleLevelId").val();
        	  
        	  var selectId = $("#selectId").val();
	  	        if (slId == "")
	  	        {
	  	        	layer.alert('检验水平名称不能为空!', {icon: 5});
	                return false;
	             }else if(selectId == "0" && data.field.id =="" ){
		  	        	layer.alert('选择类型不能为空!', {icon: 5});
		                return false;
	             }
	  	        
	        	  var supplierId = $("#supplierId").val();
	        	  var productId = $("#productId").val();
	        	  var productClassesId = $("#productClassesId").val();
		  	        if (supplierId == "" && productId =="" && productClassesId =="")
		  	        {
		  	        	layer.alert('请选择供应商名称或物品名称或物品分类名称!', {icon: 5});
		                return false;
		             }

        	  var url = '/quality/qualityInspectModuleRelation/save';
        	  layuiformajax.postJson(url, data.field, function (result) {
      	    	   layer.alert("保存成功", {icon: 6},function () {
      	                // 获得frame索引
      	                var index = parent.layer.getFrameIndex(window.name);
      				  	parent.location.reload(); 
      	                parent.layer.close(index);
      	            });
      		  });
      		  
            return false;
          });
          
          
        });

    </script>
    <script>
   $(function () {
    	var sampleLevelDictId=0;
	  	  if($("#sampleLevelDictId").val() != ''){
	  		  sampleLevelDictId=$("#sampleLevelDictId").val();
	  	  }
    	//初始化
    	linkCommonMethod('dictValue',sampleLevelDictId,'sampleLevelRankDictId','dictName',$("#initsampleLevelRankDictId").val(),'/quality/qualityInspectModuleRelation/getSampleLevelByRank');
    }); 

    $(document).ready(function(){
    	$("#td1,#td2,#td3,#td4,#td5,#td6").hide(); 
    	var sid = $("#supplierId").val();
    	var pid = $("#productId").val();
    	var pcid = $("#productClassesId").val();
 		if(sid !=null && sid !=""){
     		$("#td3,#td4,#td5,#td6").hide();
     		$("#td1,#td2").show();
     		document.getElementById("selectId").disabled=true
     		/* $("#tds").hide();
     		$("#tds1").hide(); */
     	}else if(pid!=null && pid!=""){
     		$("#td1,#td2,#td5,#td6").hide();
     		$("#td3,#td4").show();
     		document.getElementById("selectId").disabled=true
     		/* $("#tds").hide();
     		$("#tds1").hide(); */
     	}else if(pcid!=null && pcid!=""){
     		$("#td1,#td2,#td3,#td4").hide();
     		$("#td5,#td6").show();
     		document.getElementById("selectId").disabled=true
     		/* $("#tds").hide();
     		$("#tds1").hide(); */
     	}

    });       
    </script>
  </body>

</html>