<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.config.ConfigLabelFunctionMapper">
	<resultMap id="ConfigLabelFunction" type="com.techsoft.entity.common.ConfigLabelFunction" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="LABEL_FIELD_ID" property="labelFieldId" />
		<result column="LABEL_FUNCTION_TYPE_DICT_ID" property="labelFunctionTypeDictId" />
		<result column="TABLE_OBJECT_ID" property="tableObjectId" />
		<result column="TABLE_FIELD_ID" property="tableFieldId" />
		<result column="VALUE" property="value" />
		<result column="SERIAL_ID" property="serialId" />
		<result column="IS_VALID" property="isValid" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="labelFieldId != null">
			AND A.LABEL_FIELD_ID= #{labelFieldId}
		</if>
		<if test="labelFunctionTypeDictId != null">
			AND A.LABEL_FUNCTION_TYPE_DICT_ID= #{labelFunctionTypeDictId}
		</if>
		<if test="tableObjectId != null">
			AND A.TABLE_OBJECT_ID= #{tableObjectId}
		</if>
		<if test="tableFieldId != null">
			AND A.TABLE_FIELD_ID= #{tableFieldId}
		</if>
		<if test="value != null">
			AND A.VALUE= #{value}
		</if>
		<if test="serialId != null">
			AND A.SERIAL_ID= #{serialId}
		</if>
		<if test="isValid != null">
			AND A.IS_VALID= #{isValid}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
		
	<sql id="Order_By_Sql">
	 	order by id desc
	</sql>
					
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.LABEL_FIELD_ID,
		A.LABEL_FUNCTION_TYPE_DICT_ID,
		A.TABLE_OBJECT_ID,
		A.TABLE_FIELD_ID,
		A.VALUE,
		A.SERIAL_ID,
		A.IS_VALID
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for CONFIG_LABEL_FUNCTION_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from CONFIG_LABEL_FUNCTION
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.ConfigLabelFunction">
		SELECT
		<include refid="Base_Column_List" />
		FROM CONFIG_LABEL_FUNCTION A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.ConfigLabelFunction">
		SELECT
		<include refid="Base_Column_List" />
		FROM CONFIG_LABEL_FUNCTION A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM CONFIG_LABEL_FUNCTION A WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM CONFIG_LABEL_FUNCTION  A WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.ConfigLabelFunction">
		UPDATE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		FROM CONFIG_LABEL_FUNCTION A WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.ConfigLabelFunction">
		INSERT INTO CONFIG_LABEL_FUNCTION (
		TENANT_ID,
		LABEL_FIELD_ID,
		LABEL_FUNCTION_TYPE_DICT_ID,
		TABLE_OBJECT_ID,
		TABLE_FIELD_ID,
		VALUE,
		SERIAL_ID,
		IS_VALID
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{labelFieldId},
		#{labelFunctionTypeDictId},
		#{tableObjectId},
		#{tableFieldId},
		#{value},
		#{serialId},
		#{isValid}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.ConfigLabelFunction">
		UPDATE CONFIG_LABEL_FUNCTION SET
		TENANT_ID=#{tenantId},
		LABEL_FIELD_ID=#{labelFieldId},
		LABEL_FUNCTION_TYPE_DICT_ID=#{labelFunctionTypeDictId},
		TABLE_OBJECT_ID=#{tableObjectId},
		TABLE_FIELD_ID=#{tableFieldId},
		VALUE=#{value},
		SERIAL_ID=#{serialId},
		IS_VALID=#{isValid},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.ConfigLabelFunction">
		UPDATE CONFIG_LABEL_FUNCTION SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="labelFieldId != null" >
			LABEL_FIELD_ID=#{labelFieldId},
		</if>
		<if test="labelFunctionTypeDictId != null" >
			LABEL_FUNCTION_TYPE_DICT_ID=#{labelFunctionTypeDictId},
		</if>
		<if test="tableObjectId != null" >
			TABLE_OBJECT_ID=#{tableObjectId},
		</if>
		<if test="tableFieldId != null" >
			TABLE_FIELD_ID=#{tableFieldId},
		</if>
		<if test="value != null" >
			VALUE=#{value},
		</if>
		<if test="serialId != null" >
			SERIAL_ID=#{serialId},
		</if>
		<if test="isValid != null" >
			IS_VALID=#{isValid},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.config.ConfigLabelFunctionParamVo"
		      resultType="com.techsoft.entity.common.ConfigLabelFunction" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM CONFIG_LABEL_FUNCTION A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
</mapper>