<!DOCTYPE html>
<html>
  
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<#include "../common-header.html"/>
  </head>
  
  <body>
    <div class="x-body">
      <form id="dataForm"  method="post" class="layui-form">
        <input type="hidden"  id="id"  name="id" value="<#if entity??&&entity.id??>${entity.id?c}<#else></#if>" />
         <input type="hidden"  id="version"  name="version" value="<#if entity??&&entity.version??>${entity.version?c}<#else></#if>" />
        <table class="layui-table ">
	        <tr>
	               <td width="15%" class="tableleft">国家英文名称</td>
	                 <td>
	              		<input type="text" name=countryCode lay-verify="decimal" class="layui-input" maxlength="30" value="${(entity.countryCode)!''}"/>
	                </td>
	                <td width="15%" class="tableleft">大陆名称</td>
	                 <td>
	              		<input type="text" name=continent lay-verify="decimal" class="layui-input" maxlength="30" value="${(entity.continent)!''}"/>
	                </td>
	        </tr>
           <tr>
               <td width="15%" class="tableleft">国家名称</td>
                 <td>
              		<input type="text" name=countryName lay-verify="decimal" class="layui-input" maxlength="30" value="${(entity.countryName)!''}"/>
                </td>
                <td width="15%" class="tableleft">国家类型名称</td>
                 <td>
              		<input type="text" name=countryType lay-verify="decimal" class="layui-input" maxlength="30" value="${(entity.countryType)!''}"/>
                </td>	
           </tr>
           <tr>
            <td colspan="4"  style="text-align:center">
               <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>	
            </td>
           </tr>
       </table>  
      </form>
    </div>
    <script>
    layui.config({
        base: '/static/plugins/layui/base/',
        v: new Date().getTime()
    }).use([ 'form','laydate','layuiconfig','layuiformajax'], function(){
          $ = layui.jquery;
          var form = layui.form,layer = layui.layer;
          var layuiformajax = layui.layuiformajax;
        
          //自定义验证规则
          form.verify({
        	  countryCode: function(value){
        		  if(value.length == 0 || $.trim(value) ==  ''){
        			  return '国家英文名称不能为空';
        		  }
        	  }
          ,countryName: function(value){
    		  if(value.length == 0 || $.trim(value) ==  ''){
    			  return '国家不能为空';
    		  }
    	  }
          ,continent: function(value){
    		  if(value.length == 0 || $.trim(value) ==  ''){
    			  return '大陆不能为空';
    		  }
    	  }
          ,countryType: function(value){
    		  if(value.length == 0 || $.trim(value) ==  ''){
    			  return '国家类型名称不能为空';
    		  }
    	  }
          });

          //监听提交
          form.on('submit(save)', function(data){
        	  console.log(data.field);
        	  var url = '/config/configCountry/save';
        	  layuiformajax.postJson(url, data.field, function (result) {
      	    	  if (result.isSuccess){
      	    		layer.alert("保存成功", {icon: 6},function () {
      	                // 获得frame索引
      	                var index = parent.layer.getFrameIndex(window.name);
      				  	parent.location.reload(); 
      	                parent.layer.close(index);
      	            }); 
      	    	  }else{
      	    		  layer.alert(result.message,{
      	    			  icon:2
      	    		  });
      	    	  }
        		  
      		  });
        	 
            return false;
            
          });
          
          
        });
    </script>
    <script></script>
  </body>

</html>