<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techsoft.mapper.struct.StructProcessNodeMapper">
	<resultMap id="StructProcessNode" type="com.techsoft.entity.common.StructProcessNode" 
			   extends="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityMap" > 
		<result column="TENANT_ID" property="tenantId" />
		<result column="FACTORY_ID" property="factoryId" />
		<result column="PROCESS_ID" property="processId" />
		<result column="NODE_NAME" property="nodeName" />
		<result column="NODE_CODE" property="nodeCode" />
		<result column="SORT_NO" property="sortNo" />
		<result column="EXECUTIVE_TYPE_DICT_ID" property="executiveTypeDictId" />
		<result column="WORKTIME" property="worktime" />
		<result column="BUFFERTIME_PRE" property="buffertimePre" />
		<result column="BUFFERTIME_POST" property="buffertimePost" />
		<result column="IS_VALID" property="isValid" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Base_condition_Sql">
		<if test="tenantId != null">
			AND A.TENANT_ID= #{tenantId}
		</if>
		<if test="factoryId != null">
			AND A.FACTORY_ID= #{factoryId}
		</if>
		<if test="processId != null">
			AND A.PROCESS_ID= #{processId}
		</if>
		<if test="nodeName != null">
			AND A.NODE_NAME= #{nodeName}
		</if>
		<if test="nodeCode != null">
			AND A.NODE_CODE= #{nodeCode}
		</if>
		<if test="sortNo != null">
			AND A.SORT_NO= #{sortNo}
		</if>
		<if test="executiveTypeDictId != null">
			AND A.EXECUTIVE_TYPE_DICT_ID= #{executiveTypeDictId}
		</if>
		<if test="worktime != null">
			AND A.WORKTIME= #{worktime}
		</if>
		<if test="buffertimePre != null">
			AND A.BUFFERTIME_PRE= #{buffertimePre}
		</if>
		<if test="buffertimePost != null">
			AND A.BUFFERTIME_POST= #{buffertimePost}
		</if>
		<if test="isValid != null">
			AND A.IS_VALID= #{isValid}
		</if>
		<if test="remark != null">
			AND A.REMARK= #{remark}
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityConditionSql" />		
	</sql>
	
	<sql id="Date_Condition_sql">	
	</sql>

	<sql id="Foreign_Key_Condition_Sql">
	
	</sql>
	
	<sql id="Like_Condition_Sql">
	</sql>
	
	<sql id="Exp_condition_Sql">
	</sql>
		
	<sql id="Order_By_Sql">
 		order by id desc
	</sql>		
	<sql id="Base_Column_List">    
		A.TENANT_ID,
		A.FACTORY_ID,
		A.PROCESS_ID,
		A.NODE_NAME,
		A.NODE_CODE,
		A.SORT_NO,
		A.EXECUTIVE_TYPE_DICT_ID,
		A.WORKTIME,
		A.BUFFERTIME_PRE,
		A.BUFFERTIME_POST,
		A.IS_VALID,
		A.REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityColumnList" />
	</sql>

	<select id="getIDValue" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT next value for MYCATSEQ_STRUCT_PROCESS_NODE_SEQ AS IDValue
	</select>
	
	<select id="getMaxId" flushCache="true" useCache="false" resultType="java.lang.Long">
		SELECT max(id) as maxId from STRUCT_PROCESS_NODE
	</select>
		
	<select id="selectById" parameterType="java.lang.Long" useCache="true"
			resultType="com.techsoft.entity.common.StructProcessNode">
		SELECT
		<include refid="Base_Column_List" />
		FROM STRUCT_PROCESS_NODE A
		WHERE (A.DEL_FLAG = 0) and (A.ID=#{id})
	</select>
	
	<select id="selectByIds" parameterType="java.util.List" useCache="false"
			resultType="com.techsoft.entity.common.StructProcessNode">
		SELECT
		<include refid="Base_Column_List" />
		FROM STRUCT_PROCESS_NODE A WHERE (A.DEL_FLAG = 0) and (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)
	</select>

	<update id="deleteById" flushCache="true" parameterType="java.lang.Long">
		UPDATE STRUCT_PROCESS_NODE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID=#{id}) 
	</update>
	
	<update id="deleteByIds" flushCache="true" parameterType="java.util.List">
		UPDATE STRUCT_PROCESS_NODE  A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (A.ID IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>)   
	</update>
		
	<update id="deleteByForeignKey" flushCache="true" parameterType="com.techsoft.entity.common.StructProcessNode">
		UPDATE STRUCT_PROCESS_NODE A SET 
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityDelete" />
		WHERE (1 = 1) 
		<include refid="Foreign_Key_Condition_Sql" />
	</update>

	<insert id="insertEntity" flushCache="true" parameterType="com.techsoft.entity.common.StructProcessNode">
		INSERT INTO STRUCT_PROCESS_NODE (
		TENANT_ID,
		FACTORY_ID,
		PROCESS_ID,
		NODE_NAME,
		NODE_CODE,
		SORT_NO,
		EXECUTIVE_TYPE_DICT_ID,
		WORKTIME,
		BUFFERTIME_PRE,
		BUFFERTIME_POST,
		IS_VALID,
		REMARK
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertColumn" />		
		)
		VALUES(	
		#{tenantId},
		#{factoryId},
		#{processId},
		#{nodeName},
		#{nodeCode},
		#{sortNo},
		#{executiveTypeDictId},
		#{worktime},
		#{buffertimePre},
		#{buffertimePost},
		#{isValid},
		#{remark}
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityInsertValue" />		
		)
	</insert>

	<update id="updateEntity" flushCache="true" parameterType="com.techsoft.entity.common.StructProcessNode">
		UPDATE STRUCT_PROCESS_NODE SET
		TENANT_ID=#{tenantId},
		FACTORY_ID=#{factoryId},
		PROCESS_ID=#{processId},
		NODE_NAME=#{nodeName},
		NODE_CODE=#{nodeCode},
		SORT_NO=#{sortNo},
		EXECUTIVE_TYPE_DICT_ID=#{executiveTypeDictId},
		WORKTIME=#{worktime},
		BUFFERTIME_PRE=#{buffertimePre},
		BUFFERTIME_POST=#{buffertimePost},
		IS_VALID=#{isValid},
		REMARK=#{remark},
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>
	
	<update id="updatePartEntity" flushCache="true" parameterType="com.techsoft.entity.common.StructProcessNode">
		UPDATE STRUCT_PROCESS_NODE SET
		<if test="tenantId != null" >
			TENANT_ID=#{tenantId},
		</if>
		<if test="factoryId != null" >
			FACTORY_ID=#{factoryId},
		</if>
		<if test="processId != null" >
			PROCESS_ID=#{processId},
		</if>
		<if test="nodeName != null" >
			NODE_NAME=#{nodeName},
		</if>
		<if test="nodeCode != null" >
			NODE_CODE=#{nodeCode},
		</if>
		<if test="sortNo != null" >
			SORT_NO=#{sortNo},
		</if>
		<if test="executiveTypeDictId != null" >
			EXECUTIVE_TYPE_DICT_ID=#{executiveTypeDictId},
		</if>
		<if test="worktime != null" >
			WORKTIME=#{worktime},
		</if>
		<if test="buffertimePre != null" >
			BUFFERTIME_PRE=#{buffertimePre},
		</if>
		<if test="buffertimePost != null" >
			BUFFERTIME_POST=#{buffertimePost},
		</if>
		<if test="isValid != null" >
			IS_VALID=#{isValid},
		</if>
		<if test="remark != null" >
			REMARK=#{remark},
		</if>
		<include refid="com.techsoft.common.mapper.BaseEntityMapper.BaseEntityUpdate" />
		WHERE ID=#{id} AND VERSION=#{version}  			
	</update>	
	
	<select id="selectListByEntityParamVo" parameterType="com.techsoft.entity.struct.StructProcessNodeParamVo"
		      resultType="com.techsoft.entity.common.StructProcessNode" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM STRUCT_PROCESS_NODE A
		WHERE (A.DEL_FLAG = 0)
		<include refid="Base_condition_Sql" />
		<include refid="Date_Condition_sql" />
		<include refid="Foreign_Key_Condition_Sql" />
		<include refid="Like_Condition_Sql" />
		<include refid="Exp_condition_Sql" />
		<include refid="Order_By_Sql" />
	</select>
</mapper>